<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NorthStar HR Management</a>
        <span class="navbar-text">
            {{#if username}}
            Logged in: {{username}}&nbsp;
            <a href="/logout"><button type="button" class="btn btn-secondary btn-sm">Log Out</button></a>
            {{else}}
            Not logged In
            {{/if}}
        </span>
    </div>
</nav>
