<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NorthStar HR Management</a>
        <span class="navbar-text">
            {{#if user}}
            Logged in as: {{user.username}}
            {{else}}
            Not logged in
            {{/if}}
        </span>
    </div>
</nav>
