<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/theme.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        {{> header user}}
        <div class="container">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend in risus id faucibus. Pellentesque a quam sodales, porttitor libero eu, finibus nisi. In in cursus ligula, non suscipit metus. Mauris dui mi, mollis nec dolor ut, scelerisque porta nulla. Morbi et viverra libero, vel auctor diam. Sed convallis accumsan erat non efficitur. Morbi rutrum iaculis magna vel vulputate. Duis cursus mauris ante, fermentum lacinia ante interdum vitae. In laoreet libero nisl, sed pulvinar diam dignissim vitae. Proin euismod est ipsum. Quisque accumsan fermentum enim eu interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin luctus egestas nisl volutpat vehicula. Phasellus auctor sem id risus iaculis aliquet. Sed semper ultrices interdum.</p>
            <p>Maecenas nisi orci, laoreet et nulla nec, suscipit porta quam. Suspendisse feugiat mi placerat, finibus odio in, molestie elit. Fusce cursus sapien ut tortor viverra, vel facilisis libero vulputate. Nunc malesuada tortor quis tincidunt suscipit. Curabitur at ipsum vel erat aliquam varius sit amet pharetra eros. Fusce elementum, tortor a interdum interdum, tortor odio vestibulum turpis, nec cursus eros purus et nibh. Etiam luctus quam ut malesuada consectetur. Quisque varius vitae magna eget volutpat.</p>
            <p>In commodo elit justo. Donec porta tincidunt urna auctor accumsan. Pellentesque scelerisque nisi quis justo semper, eu tincidunt orci euismod. Proin aliquam augue mi, ac commodo mi aliquam dignissim. Phasellus molestie rhoncus lorem vel vestibulum. Cras sed elementum diam. Maecenas sed dolor vel odio pellentesque condimentum. Nunc risus metus, tincidunt pulvinar purus quis, tristique egestas sem.</p>
        </div>
        {{> footer}}
    </body>
</html>