<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/theme.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        {{> header user}}
        <div class="container">
            <h2>About Us</h2>
            <p>NorthStar is a software development company which helps small business owners to improve their efficiency in management and therefore boost their business performance. </p>
            <h2>About This Application</h2>
            <p>Human resource management is essential for all organizations. Due to the nature of the work, human resource management in small businesses are usually done directly by business owners or a manager in charge, as small businesses do not have a large number of employees, hence most of them do not have a formal human resource management system or tool in place. Their data may be stored in a computer file or even written on paper. When the business grows and more employees are hired, the structure of the company may become more complex, bringing challenges to the effectiveness and efficiency of human resource management. </p>
            <p>Seeing this as an opportunity, NorthStar is introducing this NorthStar’s HR Express System, a lightweight MIS software designed to help these organizations to simplify their management work. The goal of this application is to increase the efficiency within a business with the following objectives:</p>
            <ul>
                <li>Business owners or managers can conveniently add, remove and update department and employee information through a web interface</li>
                <li>Employees can also access the system, but with functionalities limited to viewing and updating their own information</li>
            </ul>
        </div>
        {{> footer}}
    </body>
</html>